@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(4.jpg);
    background-size: cover;
    background-position: center;
}

.content{
    width: 100%;
    position: absolute;
    top: 45%;
    text-align: center;
    color: #f2efe8;
}
.bg-banner
{
    width: 100%;
    height: 100vh;
    background-color: rgba(12, 12, 12, 0.508);
}
#small
{
 font-size: 20px;
 font-family:'Courier New', Courier, monospace;
 font-weight: 200;
}
.content p{
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Lobster Two', cursive;
    letter-spacing: 2px;
    line-height: 50px;

}
